{% extends 'base.html' %}

{% block content %}
<div class="container my-5 pt-20">
    <h1 class="text-center text-orange-400 font-bold text-3xl mb-5">
        Applicants for Job: {{ job.title }}
    </h1>

    {% if applicants %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for application in applicants %}
        <div class="bg-orange-100 text-gray-800 rounded-lg shadow-md p-6">
            <h3 class="text-orange-400 font-semibold text-xl mb-2">
                {{ application.applicant.username }}
            </h3>
            <p class="mb-1">
                <strong>Applied On:</strong> {{ application.created_at|date:"D, d M Y" }}
            </p>
            <p class="mb-1">
                <strong>Status:</strong> 
                <span class="font-bold text-green-400">
                    {{ application.status }}
                </span>
            </p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-200 text-lg bg-gray-600 py-4 rounded-lg shadow-md">
        No applicants for this job yet.
    </p>
    {% endif %}
</div>
{% endblock %}
